
/* selector {property:value;} */
nav {border: 2px solid red;}

body {
    background-color: #818181;
}

ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;

}

body {
    background-image: url('https://i.pinimg.com/originals/bb/42/36/bb42363f827826b9b99566eb9e032a06.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: fill screen;              /* optional, center the image */
  }


#indexpage .mainnavigation li:nth-child(1){background-color: white}
#portfoliopage .mainnavigation li:nth-child(2){background-color: white}
#aboutpage .mainnavigation li:nth-child(3){background-color: white}
